---
import { Code as CodeIcon } from "lucide-react";
import { Code } from 'astro-expressive-code/components';

interface Props {
  code: string;
  lang?: string;
  title?: string;
  frame?: string;
  mark?: string;
  ins?: string;
  del?: string;
  collapse?: string;
  className?: string;
  preserveIndent?: boolean;
  showLineNumbers?: boolean;
  showSourceText?: string;
  hideSourceText?: string;
}

const {
    code,
    lang,
    title,
    frame = "auto",
    mark,
    ins,
    del,
    collapse,
    className,
    preserveIndent,
    showLineNumbers = true,
    showSourceText = "Show Source",
    hideSourceText = "Hide Source",
} = Astro.props;

let validFrame: "code" | "terminal" | "none" | "auto" | undefined;
if (frame === "code" || frame === "terminal" || frame === "none" || frame === "auto" || frame === undefined) {
    validFrame = frame;
} else {
    validFrame = undefined;
}

---

<div class="relative">
  <div class="mb-4">
    <slot />
  </div>

  <div class="not-prose">
    <details class="group">
      <summary
        class="flex items-center gap-2 font-mono text-xs px-2 py-1 rounded-md
            bg-secondary-foreground text-secondary opacity-80
            hover:opacity-100 hover:text-primary-foreground
            cursor-pointer transition-all duration-300 w-fit"
      >
        <CodeIcon className="w-3 h-3" />
        <span class="select-none group-open:hidden">{showSourceText}</span>
        <span class="select-none hidden group-open:block">{hideSourceText}</span>
      </summary>
      <div class="mt-3 rounded-md overflow-hidden">
        <Code
          code={code}
          lang={lang}
          title={title}
          frame={validFrame}
          mark={mark}
          ins={ins}
          del={del}
          collapse={collapse}
          class={className}
          preserveIndent={preserveIndent}
          showLineNumbers={showLineNumbers}
        />
      </div> 
    </details>
  </div>
</div>